body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
}

h1 {
    color: #255;
}

.figuras {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.figura {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.2s;
}

.figura:hover {
    transform: scale(1.05);
}

.figura img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.figura h2 {
    margin: 10px 0;
}


/* Los formularios comienzan ocultos */

.formulario {
    display: none;

    background-color: white;

    width: 350px;

    margin: 20px auto;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


.formulario input {
    display: block;

    width: 90%;

    padding: 10px;

    margin: 10px auto 20px;

    font-size: 16px;
}


.formulario button {
    padding: 10px 20px;

    background-color: #007bff;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
}


.formulario button:hover {
    background-color: #0056b3;
}


#resultado {
    font-size: 24px;

    font-weight: bold;

    color: #008000;

    margin-top: 25px;
}